<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Playground — Complete Intro to Vue 3</title>
  </head>

  <body>

    <h1>Hello Frontend Masters!</h1>
    <div id="app">

      <h1>{{ displayTitle }}</h1>
      <p :data-increment-by="incrementAmount">{{ count }}</p>
      <button @click="incrementCount">Increment Count</button>

      <h1>{{ incrementAmount }}</h1>
      <p>{{ optimizedIncrementAmount }}</p>
      <div>
        <label for="incrementAmount">Increment by:</label>
        <input
          type="text"
          v-model="incrementAmount"
        />
      </div>
      <hr />
      <p v-if="message.length % 2 === 0">Even: {{ message.toUpperCase() }}</p>
      <p v-else>Odd: {{ message }}</p>
      <ul v-for="item in listOfNumbers">
        <li>
          {{ item.id }}
          <ul>
            <li v-for="number in item.list">{{ number }}</li>
          </ul>
        </li>
      </ul>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const { createApp } = Vue

      const app = createApp({
        )

      app.mount('#app')
    </script>
  </body>

</html>
